/* Banner.css */
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

/* Banner.css or your global styles */
html {
  scroll-behavior: smooth;
}

